<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ShareIT</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>
			/library/ckfinder/core/connector/java/connector.java
		</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCommentController</servlet-name>
    <servlet-class>controller.PublicCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCommentController</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCatIndexController</servlet-name>
    <servlet-class>controller.PublicCatIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatIndexController</servlet-name>
    <url-pattern>/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicReplyController</servlet-name>
    <servlet-class>controller.PublicReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicReplyController</servlet-name>
    <url-pattern>/reply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDetailIndexController</servlet-name>
    <servlet-class>controller.PublicDetailIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailIndexController</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicNotFoundController</servlet-name>
    <servlet-class>controller.PublicNotFoundController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicNotFoundController</servlet-name>
    <url-pattern>/404</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicSearchController</servlet-name>
    <servlet-class>controller.PublicSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSearchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicSubCatIndexController</servlet-name>
    <servlet-class>controller.PublicSubCatIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSubCatIndexController</servlet-name>
    <url-pattern>/subcat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <servlet-class>controller.AdminIndexNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <url-pattern>/admin/news/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexAdminController</servlet-name>
    <servlet-class>controller.AdminIndexAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexAdminController</servlet-name>
    <url-pattern>/admin/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchCommentController</servlet-name>
    <servlet-class>controller.AdminSearchCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchCommentController</servlet-name>
    <url-pattern>/adminSearchComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexSubCategoryController</servlet-name>
    <servlet-class>controller.AdminIndexSubCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexSubCategoryController</servlet-name>
    <url-pattern>/admin/subcategory/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/category/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCatController</servlet-name>
    <servlet-class>controller.AdminDelCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCatController</servlet-name>
    <url-pattern>/delCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelSubCatController</servlet-name>
    <servlet-class>controller.AdminDelSubCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelSubCatController</servlet-name>
    <url-pattern>/delsubcat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/addCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCommentController</servlet-name>
    <servlet-class>controller.AdminIndexCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCommentController</servlet-name>
    <url-pattern>/admin/comment/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/delUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/editUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/editCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditSubCatController</servlet-name>
    <servlet-class>controller.AdminEditSubCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditSubCatController</servlet-name>
    <url-pattern>/editSubCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewsController</servlet-name>
    <servlet-class>controller.AdminAddNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewsController</servlet-name>
    <url-pattern>/addNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditNewsController</servlet-name>
    <servlet-class>controller.AdminEditNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNewsController</servlet-name>
    <url-pattern>/editNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelNewsController</servlet-name>
    <servlet-class>controller.AdminDelNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNewsController</servlet-name>
    <url-pattern>/delNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchNewsController</servlet-name>
    <servlet-class>controller.AdminSearchNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchNewsController</servlet-name>
    <url-pattern>/adminSearchNews</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminSearchUserController</servlet-name>
    <servlet-class>controller.AdminSearchUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchUserController</servlet-name>
    <url-pattern>/adminSearchUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatusNewsController</servlet-name>
    <servlet-class>controller.StatusNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusNewsController</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLoginController</servlet-name>
    <servlet-class>controller.AuthLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthRegisterController</servlet-name>
    <servlet-class>controller.AuthRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthRegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLogoutController</servlet-name>
    <servlet-class>controller.AuthLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>